/Logic140Client/nbproject/private/
/Logic140Client/build/
/Logic140Client/dist/
/Logic140_winusb/x64/
/Logic140_winusb/Logic140_winusb/x64/
/Logic140_winusb/Logic140_winusb Package/x64/
/Logic140_libusb/build/
*.class
