root { 
    display: block;
}

body, table {
    
    font-family: 'DejaVu Sans Mono','Courier New',Courier,monospace;
    font-size: 12px;
    line-height: 100%
}

.root {

    -fx-red: #ff0000;
    -fx-orange: #ee8800;
    -fx-yellow: #eeee00;
    -fx-green: #00ee00;
    -fx-blue: #0000ff;
    -fx-purple: #8800ee;
    -fx-gray: #888888;

    -fx-red-color: linear-gradient(
        to bottom,
        derive(-fx-red,34%) 0%,
        derive(-fx-red,-18%) 100%
    );
    -fx-orange-color: linear-gradient(
        to bottom,
        derive(-fx-orange,34%) 0%,
        derive(-fx-orange,-18%) 100%
    );
    -fx-yellow-color: linear-gradient(
        to bottom,
        derive(-fx-yellow,34%) 0%,
        derive(-fx-yellow,-18%) 100%
    );
    -fx-green-color: linear-gradient(
        to bottom,
        derive(-fx-green,34%) 0%,
        derive(-fx-green,-18%) 100%
    );
    -fx-blue-color: linear-gradient(
        to bottom,
        derive(-fx-blue,34%) 0%,
        derive(-fx-blue,-18%) 100%
    );
    -fx-purple-color: linear-gradient(
        to bottom,
        derive(-fx-purple,34%) 0%,
        derive(-fx-purple,-18%) 100%
    );
    -fx-gray-color: linear-gradient(
        to bottom,
        derive(-fx-gray,34%) 0%,
        derive(-fx-gray,-18%) 100%
    );

    -fx-inv-body-color: linear-gradient(
        to bottom,
        derive(-fx-color,-18%) 0%,
        derive(-fx-color,34%) 100%
    );
}

.small-font {
    font-family: 'System',monospace;
    font-size: 9px;
    line-height: 100%
}